.restaurants {
    background-color: lightcoral;
}

.restaurants>div {
    display: flex;
    flex-direction: column;
}

.restaurants img {
    width: 100%;
}

.restaurants>div>.restaurants-img-col img {
    display: block;
    max-width: unset;
}

@media (width >=900px) {
    .restaurants>div {
        align-items: center;
        flex-direction: unset;
        gap: 24px;
    }

    .restaurants>div>.restaurants-img-col {
        flex: 1.5;
        margin-bottom: 1rem;
    }

    .restaurants>div>.button-container {
        flex: 0.5;
    }
}